[core]

[credential]
helper=osxkeychain

[init]
defaultbranch=main

[filter.lfs]
clean=git-lfs clean -- %f
smudge=git-lfs smudge -- %f
process=git-lfs filter-process
required=true

[user]
name=Ville Vartiainen
email=vvarti@gmail.com
